@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    padding-top: 4.7em;
}

header {
    color: #b200c3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 12px;
    font-family: 'Carter One', sans-serif;
    font-size: 1.8em;
    text-align: center;
}

.container-name {
    background: #505050;
    height: 15%;
    width: 36%;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
}

.container-name p {
    color: #fff;
    font-size: 1.3em;
    font-family: Arial;
    font-weight: bold;
    text-decoration: underline;
}

.container-audio {
    background: #505050;
    width: 36%;
    height: 20vw;
    text-align: center;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-audio .button-container-audio {
    color: #fff;
    font-size: 3em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.container-advice {
    background: #f00;
    height: 20%;
    width: 36%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
}

.container-audio .button-container-audio-left {
    color: #fff;
    font-size: 2.5em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.container-advice .button-container-advice {
    color: #fff;
    font-size: 2.5em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.container-audio .button-container-audio-right {
    color: #fff;
    font-size: 2.5em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

footer .button-menu {
    color: #b5b5b5;
    font-size: 1.8em;
    border: none;
    outline: none;
    background: none;
    margin-left: 3em;
    margin-right: 3em;
    cursor: pointer;
}

footer .active {
    color: #b200c3;
}